body{
    background-image: url("../images/background.png");
    margin: 0;
}

.movieHeader{
    background-image: url("../images/banner.png");
    height: 58px;
}
.titleDiv{
    vertical-align: middle;
    margin: auto;
}

.titleDiv, h1{
    text-align: center;
}

.row{
    display: table;
    column-count: 2;
    margin-right: 120px;
    margin-left: 120px;
    border: 3px solid gray;
    border-radius: 5px;
    height: 1300px;
}
.percent img{
    display: table-cell;
    height: 60px;
    width: 920px;
}

.overView{
    display: table-cell;
    width: 200px;
    vertical-align: top
}
.overView img{
    width: 270px;
}

.rowIn{
    background-color: yellow;
}

.allReview{
    margin: 0;
    background-color: red;
    padding: 30px;
    height: 1150px;
}

.allReview p img{
    width: 20px;
    height: 20px;
}

.column {
    padding: 20px;
    display: table-cell;
}

.movieDescription{
    background-color: yellowgreen;
    margin: 0;
    height: 834px;
    
}



.footer{
    border-top: 1px solid #dddddd;
    left:0;
    bottom:0;
    height:58px;
    width: auto;
    padding: 15px;
    background-color: white;
}
.w3Validator{
    margin-top: -40px;
    margin-left: 500px;
}