body{
    background-image: url("../images/background.png");
    margin: 0;
}

.movieHeader{
    background-image: url("../images/banner.png");
    height: 50px;
    align-self: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.titleDiv{
    vertical-align: middle;
    margin: auto;
}

.titleDiv, h1{
    text-align: center;
}

.logoPrecent h1{
    color: red;
    position: absolute;
    padding-left: 120px;
    font-size: 68px;
    margin-top: 0;
}

.row{
    display: table;
    column-count: 2;
    margin-right: 140px;
    margin-left: 140px;
    border: 3px solid gray;
    border-radius: 5px;
    height: 1300px;
}
.percent img{
    display: table-cell;
    height: 80px;
    width: 856px;
    position: absolute;
}

.logoPrecent img {
    padding-left: 10px;
    width: 80px;
}

.overView{
    display: table-cell;
    width: 200px;
    vertical-align: top;
    margin-bottom: 0;
    padding-bottom: 0;
}
.overView img{
    width: 270px;
    padding: 0;
    margin: 0;
}

.rowIn{
    background-color: yellow;
}

.allReview{
    margin: 0;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 1163px;
    vertical-align: top;
}

.allReview p img{
    width: 30px;
    height: 30px;
    position: relative;
}

.row1{
    padding-bottom: -2px;
    margin-top: 54px;
}

.column {
    width: 394px;
    display: table-cell;
    border: 2px solid gray;
    border-radius: 7px;
}

.column p img{
    float: left;
}

.movieDescription{
    background-color: #A2B964;
    height: 852px;
    vertical-align: top;
    padding-top: 0;
    margin-top: 0;
}
.dl1{
    margin-top: 0;
    padding-top: 0;
}

.dl1 dt{
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 0;
    font-weight: bold;
}
.dl1 dd{
    padding-left: 36px ;

}
.author{
    margin-top: -2px;
    padding-bottom: -2px;
}
.row3{

}

.pagination p{
    background-color: #A2B964;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 33em;
}


.footer{
    border-top: 1px solid #dddddd;
    left:0;
    bottom:0;
    height:58px;
    width: auto;
    padding: 15px;
    background-color: white;
}
.w3Validator{
    margin-top: -40px;
    margin-left: 500px;
}